/*==========================================================================
ROOT
==========================================================================*/
:root {
  --background-color: #292929;
  --background-color2: #5f799b;
  --accent-color2: #d1681d;
  --subtleAccent2: #e98945;
  --accent-color1: #1d67d6;
  --text-color: #FFF;
  --HeaderFont: "Sonoma";
  --TextFont: "Ubuntu";
}

/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-display: swap;
  font-family: "Sonoma";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/LT\ Sonoma\ 2.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/UbuntuSans-Regular.ttf") format("Truetype");
}

/* ==========================================================================
   Main Settings
   ========================================================================== */

html {
  font-size: 1rem;
  background-color: var(--background-color);
  font-family: var(--TextFont);
  scroll-behavior: smooth;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  color: var(--text-color);
  text-align: center;
}

h1 {
  font-family: var(--HeaderFont);
  font-size: 1.8rem;
  margin: 2rem;
  -webkit-filter: drop-shadow(var(--accent-color1) 3px 3px 1px) drop-shadow(var(--accent-color2)-2px -2px 1px);
  filter: drop-shadow(var(--accent-color1) 3px 3px 1px) drop-shadow(var(--accent-color2)-2px -2px 1px);
}

a {
  text-decoration: none;
  font-family: var(--HeaderFont);
  color: var(--text-color);
  filter: drop-shadow(var(--accent-color2)0rem 0.2rem 0.2rem);
}

.hidden {
  display: none;
}

/* ==========================================================================
   Header and Navigation
   ========================================================================== */
header {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem 0.5rem 2rem 2rem;
  background-color: var(--background-color2);
  filter: drop-shadow(var(--accent-color1) 0rem 2rem 2rem );
}


nav ul {
  list-style: none;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    border-radius: 2rem 0.5rem 2rem 2rem;
    border-top: solid 0.2rem var(--accent1-color);
    border-right: solid 0.2rem var(--accent1-color);
    padding: 0.3rem;
  }
  li {
    padding: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#MobileNav {
display: flex;
flex-wrap: wrap;
justify-content: center;

#HamburgerToggle {
  position: absolute;
  right:0;
  cursor: pointer;
  user-select: none;
  z-index: 999;
}

}


.ham {
  filter: drop-shadow(var(--accent-color1) 0rem 0.2rem 0.2rem)
  drop-shadow(var(--accent-color1)0rem -0.2rem 0.2rem);

  &.active {
    filter: drop-shadow(var(--accent-color2) 0rem 0.2rem 0.2rem)
    drop-shadow(var(--accent-color2)0rem -0.2rem 0.2rem);
  }
}

.myLinks {
  transform: translate(110%);
  transition: ease-out 1000ms;
  background-color: var(--background-color);
  position: absolute;
  border-radius: 1rem;
  width: 100%;
  margin-top: 1.5rem;

  &.active {
    transform: translate(40%);
    margin-top: 1.5rem;
  }

  a {
  border-radius: 0.2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  border: var(--accent-color1) solid 0.2rem;
  padding: 0.3rem;
  margin: 0.7rem;
}
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 800ms, stroke-dashoffset 800ms;
  stroke: var(--accent-color2);
  transition: ease 800ms;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham2 .top {
  stroke-dasharray: 40 121;
}

.ham2 .bottom {
  stroke-dasharray: 40 121;
}

.ham2.active .top {
  stroke-dashoffset: -102px;
  stroke: var(--accent-color1);
}

.ham2.active .bottom {
  stroke-dashoffset: -102px;
  stroke: var(--accent-color1);
}

.ham2.active .middle {
  stroke: var(--accent-color1);
}

/* ==========================================================================
  Welcome Area
   ========================================================================== */

#WhoWeAre div {
  width: 300px;
  height: 150px;
  background-color: var(--accent-color2);
  border: var(--accent-color1);
}

/* ==========================================================================
 Our Team
   ========================================================================== */
#OurTeam div {
  width: 300px;
  height: 300px;
  background-color: var(--accent-color2);

}

/* ==========================================================================
Reference
========================================================================== */
#Reference {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#Reference div {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  background-color: var(--accent-color2);
  margin: 0 auto;
}

/* ==========================================================================
Contact Form
   ========================================================================== */
#Contact div {
  width: 350px;
  height: 250px;
  background-color: var(--accent-color2);
}

/* ==========================================================================
Different Viewports
========================================================================== */
@media only screen and (min-width: 200px) {

  #header {
    display: none;
  }
}

@media only screen and (min-width: 620px) {
  #header {
    display: flex;
  }

  #MobileNav {
    display: none;
  }
  main {
    margin-top: 15rem;
  }
}