/*==========================================================================
ROOT
==========================================================================*/
:root {
  --background-color: #292929;
  --accent-color2: #d1681d;
  --accent-color1: #00039b;
  --text-color: #FFF;
  --HeaderFont: "Sonoma";
  --TextFont: "Ubuntu";
}

/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-display: swap;
  font-family: "Sonoma";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/LT\ Sonoma\ 2.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/UbuntuSans-Regular.ttf") format("Truetype");
}

/* ==========================================================================
   Main Settings
   ========================================================================== */

html {
  font-size: 1rem;
  background-color: var(--background-color);
  margin: 0 auto;
  font-family: var(--TextFont);
  scroll-behavior: smooth;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  color: var(--text-color);
  text-align: center;
}

h1 {
  font-family: var(--HeaderFont);
  font-size: 1.8rem;
  -webkit-filter: drop-shadow(var(--accent-color1) 3px 3px 1px) drop-shadow(var(--accent-color2)-2px -2px 1px);
          filter: drop-shadow(var(--accent-color1) 3px 3px 1px) drop-shadow(var(--accent-color2)-2px -2px 1px);
}

main {
  margin-top: 30px;
}

a {
  text-decoration: none;
  font-family: var(--HeaderFont);
  color: var(--accent-color2);
}

.hidden {
  display: none;
}

/* ==========================================================================
   Header and Navigation
   ========================================================================== */
header {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  top: 0;
  transition: top 1s;
  text-align: center;
}

#header {
  position: fixed;
  margin-top: 230px;
}

.Logo {
  margin: 0 auto;
}

#Navi {
  position: absolute;
  margin-left: 250px;
}

#myLinks ul {
  display: none;
}

#myLinks {
  list-style: none;
  margin-right: 200px;
  margin-left: 65px;
  margin-top: 33px;
  background-color: var(--background-color);
  border: var(--accent-color2);
  border-radius: 0.3rem;
  border: var(--accent-color1) solid 2px;
}

#myLinks li {
  margin-left: -33px;
  width: 50vw;
}

#myLinks a {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  margin: 0;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--accent-color1);
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham2 .top {
  stroke-dasharray: 40 121;
}

.ham2 .bottom {
  stroke-dasharray: 40 121;
}

.ham2.active .top {
  stroke-dashoffset: -102px;
}

.ham2.active .bottom {
  stroke-dashoffset: -102px;
}

/* ==========================================================================
  Welcome Area
   ========================================================================== */

#WhoWeAre div {
  width: 300px;
  height: 150px;
  background-color: var(--accent-color2);
  border: var(--accent-color1);
}

/* ==========================================================================
 Our Team
   ========================================================================== */
#OurTeam div {
  width: 300px;
  height: 300px;
  background-color: var(--accent-color2);

}

/* ==========================================================================
Reference
========================================================================== */
#Reference {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#Reference div {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  background-color: var(--accent-color2);
  margin: 0 auto;
}

/* ==========================================================================
Contact Form
   ========================================================================== */
#Contact div {
  width: 350px;
  height: 250px;
  background-color: var(--accent-color2);
}

/* ==========================================================================
Different Viewports
========================================================================== */

@media only screen and (min-width: 400px) {
  #Navi {
    margin-left: 300px;
  }
}