/*==========================================================================
ROOT
==========================================================================*/
:root {
    --background-color: #292929;
    --accent-color2: #d1681d;
    --accent-color1: #00039b;
    --text-color: #FFF;
  }


html {
    font-size: 1rem;
    background-color: var(--background-color);
    margin: 0;
}